*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    direction: rtl;
    font-family: 'iran-sans';
    font-size: 16px;
}
@font-face {
    font-family: "iran-sans";
    src: url("../assets/fonts/IRANSansXBold.ttf");
  }